* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("./bashnia_zdanie_art_167317_3840x2400.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


/* второй слой */

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}


/* Блок текста */

.up {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.down {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.superclass {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


/* Шрифты */

.bigtext {
    display: flex;
    justify-content: center;
    color: brown;
    text-shadow: 5px 5px 10px rgb(30, 30, 30);
    font-size: 45px;
}

.bigtext1 {
    color: brown;
    text-shadow: 5px 5px 10px rgb(30, 30, 30);
    font-size: 40px;
}

.smalltext {
    color: brown;
    text-shadow: 5px 5px 10px rgb(30, 30, 30);
    font-size: 35px;
}

.text {
    color: rgb(30, 30, 30);
    text-shadow: 5px 5px 10px rgb(160, 160, 160);
    transition: all 0.4s linear;
    font-size: 25px;
}

.word {
    margin: 0;
    text-indent: 0.5cm;
}

.Red1 {
    color: brown;
    font-size: 29px;
}


/* третий слой */

footer {
    display: flex;
    justify-content: center;
    background: rgb(241, 235, 225);
    flex: 0 0 auto;
    padding: 5px 5px 5px;
    margin: 40px 70px;
    border: 3px black solid;
    box-shadow: 0 0 0 5px rgb(241, 235, 225), 0 0 0 8px brown, 0 0 0 15px rgb(241, 235, 225);
    border-radius: 60px;
}


/* третий слой */

.header {
    list-style: none;
    margin: 40px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    text-align: center;
    padding: 5px 15px 5px;
    background: rgb(241, 235, 225);
    border: 3px black solid;
    box-shadow: 0 0 0 5px rgb(241, 235, 225), 0 0 0 8px brown, 0 0 0 15px rgb(241, 235, 225);
    border-radius: 60px;
}

.header-logo {
    height: 50px;
}

.biblio {
    height: 100%;
    border-radius: 10px;
}

.header-nav {
    list-style: none;
}

.header-nav li {
    display: inline;
}

.header-nav li::before {
    content: "|||";
    color: brown;
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;
}

.header-nav li:first-child::before {
    content: "";
}

.header-nav li a {
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-size: 23px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header-nav a:hover {
    color: brown;
}


/* Мобилка */

@media screen and (max-width: 500px) {
    .header {
        list-style: none;
        margin: 25px 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        text-align: center;
        padding: 3px 5px 3px;
        background: rgb(241, 235, 225);
        border-radius: 60px;
        border: 3px black solid;
        box-shadow: 0 0 0 5px rgb(241, 235, 225), 0 0 0 8px brown, 0 0 0 15px rgb(241, 235, 225);
        border-radius: 60px;
    }
    .header-nav li::before {
        content: "|||";
        color: brown;
        display: inline-block;
        margin: 0 10px;
        font-size: 15px;
    }
    .header-nav li:first-child::before {
        content: "";
    }
    .header-nav li a {
        text-decoration: none;
        color: rgb(70, 70, 70);
        font-size: 15px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .header-logo {
        height: none;
    }
    .biblio {
        height: 0%;
        border-radius: 10px;
    }
}