body {
    margin: 0;
    background-image: url("./ptitsa_siluet_vektor_134154_3840x2400.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
}

.word {
    margin: 0;
    text-indent: 0.5cm;
}

.bigtext {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: bisque;
    text-shadow: 5px 5px 10px rgb(87, 17, 38);
}

.text3 {
    color: bisque;
    text-shadow: 5px 5px 10px rgb(87, 17, 38);
    transition: all 0.4s linear;
    font-size: 26px;
}

.superclass {
    display: flex;
    justify-content: center;
    /*flex-direction: row-reverse;*/
    padding-top: 50px;
}

.Red1 {
    color: brown;
    font-size: 29px;
}

.under {
    padding-top: 100px;
}

a {
    text-decoration: none;
}

.menu {
    list-style: none;
    margin: 40px 60px;
    padding-top: 15px;
    text-align: center;
    background: rgb(241, 235, 225);
    border-radius: 60px;
}

.menu li {
    display: inline-block;
}

.menu li:after {
    content: "||";
    color: rgb(102, 102, 102);
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}

.menu li:last-child:after {
    content: none;
}

.menu a {
    text-decoration: none;
    letter-spacing: 5px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 30px 0 30px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.5s;
    color: #746f74;
}

.menu a:hover {
    color: brown;
}


/*  второй слой  */

.menu2 {
    list-style: none;
    margin: 40px 60px;
    padding-top: 15px;
    text-align: center;
    background: rgb(241, 235, 225);
    border-radius: 60px;
}

.menu2 li {
    display: inline-block;
}

.menu2 li:after {
    content: "||";
    color: rgb(102, 102, 102);
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    font-size: 20px;
    color: brown;
}

.menu2 li:last-child:after {
    content: none;
}

.menu2 a {
    text-decoration: none;
    letter-spacing: 5px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0 30px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.5s;
    font-size: 20px;
    color: rgb(70, 70, 70);
    text-shadow: 5px 5px 15px bisque;
    transition: all 0.4s linear;
}

.menu2 a:hover {
    color: brown;
}